.container-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: -90px;
}

.mar-service {
  margin-left: 50px;
  margin-right: 50px;
}

.container-services .iconos-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
  text-align: center;
}

.container-obejtivo p {
  margin-bottom: 30px;
}

.container-obejtivo h1 {
  margin-bottom: 20px;
}

.iconos-services .services-div {
  margin-bottom: 30px;
}

.services-div h3,
.services-div img,
.services-div p {
  margin-bottom: 15px;
}

#img-icon {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

#img-icon:hover {
  transform: scale(1.2);
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 767px) {
  .mar-service {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 70px;
  }

  .container-services .iconos-services {
    grid-template-columns: 1fr;
  }
}

/* Estilos para pantallas medianas */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mar-service {
    margin-left: 30px;
    margin-right: 30px;
  }

  .container-services .iconos-services {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Estilos para pantallas grandes */
@media screen and (min-width: 1200px) {
  .mar-service {
    margin-left: 50px;
    margin-right: 50px;
  }
}
