.container-about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
  margin-top: -90px;
}

#bt {
  background-color: #25292b;
}

.container-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}
.container-icon .skills {
  margin-bottom: 70px;
}

.iconos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 70px;
  justify-content: center;
}

.iconos h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.iconos ion-icon {
  font-size: 5em;
}

.iconos div {
  margin-bottom: 10px;
}
.container-div {
  flex-basis: 50%;
}

.container-div #h1,
.container-div #h3,
.container-div #p {
  margin-left: 50px;
  margin-right: 40px;
  margin-bottom: 30px;
  text-align: justify;
}
.container-div #download {
  text-align: center;
}

.container-icon {
  flex-basis: 50%;
}
#html-icon,
#css-icon,
#js-icon,
#angular-icon,
#react-icon,
#github-icon {
  width: 70px;
  height: 70px;
}
#html-icon:hover {
  transform: rotate(360deg);
  transition: transform 1.5s ease-in-out;
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 767px) {
  .container-about {
    flex-direction: column;
    margin-top: 0;
    padding: 20px;
    height: auto;
  }

  .container-icon {
    margin-right: 0;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .iconos {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 100px;
  }

  .iconos img {
    width: 50px;
    height: 50px;
  }

  .container-div,
  .container-icon {
    flex-basis: auto;
  }

  .container-div #h1,
  .container-div #h3,
  .container-div #p {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

/* Estilos para pantallas medianas y grandes */
@media screen and (min-width: 768px) {
  .iconos {
    gap: 50px;
  }

  .iconos img {
    width: 60px;
    height: 60px;
  }
}
