.container-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  box-sizing: border-box;
  margin-top: 50px;
  background-color: #1e1f26;
  background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre.png");
  background-position: center;
}
.container-inner {
  text-align: center;
}

.container-img img {
  border-radius: 100%;
}
.container-info {
  width: 600px;
  text-align: center;
  background-color: #25292b;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px #dadada;
}
.container-info h2 {
  color: black;
  -webkit-text-stroke: 0.3px white;
}

@media screen and (max-width: 767px) {
  .container-banner {
    flex-direction: column;
    height: auto;
  }
  .container-img img {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
  }

  .container-info {
    width: 90%;
    padding: 5px;
    margin: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-img img {
    width: 200px;
    height: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .container-img img {
    width: 250px;
    height: 250px;
  }
}
