*{
    padding: 10;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.container-header{
    margin-bottom: 20px;
    background: red;
    position: static;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    border-color: black;
    border-style: solid;
}
.container-header header{
    position: flex;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.logo img{
    width: 100px;
    height: 50px;
    position: static;
}
#nav ul{
    display: flex;
    list-style: none;
}
#nav ul li a{
    text-align: none;
    color: black;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;

}
#nav ul li a:hover{
    color: blue;
}
.nav-responsive{
    padding: apx 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}