
.container-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;

}

.container-img img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
}
.container-info {
  width: 600px;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}
.container-info h1 {
  color: aquamarine;
}
.container-img-codi img {
  width: 350px;
  height: 250px;
  padding: 10px 10px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
