
.container-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
  background-image: url('../assets/img/fondo.avif');
  background-size: cover;
  background-position: center;

}

.container-img img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  margin-right: 35px;
}
.container-info {
  width: 600px;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #25292B;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px #DADADA; /* Luminosidad al borde */
}
.container-info h1 {
  color: black;
  -webkit-text-stroke: 0.3px white; 

}
.container-img-codi img {
  width: 250px;
  height: 250px;
  padding: 10px 10px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-right: 50px;
}
