.container-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
  background-color: #1e1f26;
  background-size: cover;
  background-position: center;
}

.container-img img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  margin-right: 35px;
  margin-left: 50px;
}
.container-info {
  width: 600px;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #25292b;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px #dadada;
}
.container-info h1 {
  color: black;
  -webkit-text-stroke: 0.3px white;
}
.container-img-codi img {
  width: 250px;
  height: 250px;
  padding: 10px 10px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-right: 50px;
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 767px) {
  .container-banner {
    flex-direction: column;
    height: auto;
  }
  .container-img img {
    margin-top: 80px;
    margin-left: -5px;
  }
  .container-img img,
  .container-img-codi img {
    width: 150px;
    height: 150px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .container-info {
    width: 90%;
    margin: 20px;
  }
}

/* Estilos para pantallas medianas */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-img img,
  .container-img-codi img {
    width: 200px;
    height: 200px;
  }
}

/* Estilos para pantallas grandes */
@media screen and (min-width: 1200px) {
  .container-img img,
  .container-img-codi img {
    width: 300px;
    height: 300px;
  }
}
