.container-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  background-color: red;
}
.mar-service{
  margin-left: 50px;
  margin-right: 50px;
}

.container-services .iconos-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
  text-align: center;
}


.container-obejtivo p {
  margin-bottom: 30px;
  
}

.container-obejtivo h1 {
  margin-bottom: 20px;
}

.iconos-services .services-div {
  margin-bottom: 30px;
}

.services-div h3,
.services-div img,
.services-div p {
  margin-bottom: 15px;
  
}

#img-icon {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

#img-icon:hover {
  transform: scale(1.2);
}

